p
  =@user_name
  |&nbsp;,&nbsp;з номером телефону&nbsp;
  =@phone_number
  |, замовив огляд квартири з ідентифікатором:&nbsp;
  =@apartment_id
  |&nbsp;.&nbsp;На дату&nbsp;
  =@date
  |&nbsp;з&nbsp;
  =@time_from
  |&nbsp;години, до&nbsp;
  =@time_to
  |&nbsp;годин.
p
  |А також він добавив коментар&nbsp;
  =@comment