.cabinet-page-wrap
  padding-bottom: 80px
  form.default-animation-form
    .se-ajax-submit
      height: 30px
      width: 30px
      position: absolute
      right: -2px
      bottom: -1px
      display: none
      button
        padding: 0 2px
        margin: 0
        background-color: #E55000
        svg
          position: relative
          top: 2px
          path
            fill: #fff !important
    .animate-input
      &.is-completed
        path
          fill: #778F9B
      &.is-active
        path
          fill: #FB8B00
    input
      color: #778F9B
  h4
    color: #36464E
    font:
      size: rem-calc(21)
      weight: 500
    line-height: rem-calc(36)
  .profile-avatar
    width: 100%
    background-color: #CED7DB
    overflow: hidden
    border-radius: 50%
    //padding: 15%
    border: 1px solid #36464E
    margin-bottom: 14px
    .image
      max-width: 100%
      width: 100%
      height: 0
      padding-bottom: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
  .cabinet-header-wrap
    height: 300px
    background-color: #36464E
    padding-top: 45px
    margin-bottom: 45px

    h3
      color: #fff
      font:
        size: rem-calc(21)
        weight: 500
      line-height: rem-calc(36)
    .ch-link-wrap
      position: relative
      .ch-link-inner
        width: 100%
        a
          color: #AFBDC4
          display: block
          text-align: center
          padding-top: 5px
          padding-bottom: 5px
          margin-top: 11px
          svg
            width: 22px
            height: 22px
            fill: #AFBDC4
            position: relative
            top: 3px
            margin-right: 10px
      &.current
        a
          color: #FB8B00
          path
            fill: #FB8B00
        &:before
          display: block
          content: ''
          background-color: #FB8B00
          height: 3px
          width: 100%
          position: absolute
          left: 0
          right: 0
          bottom: 0

  .personal-avatar-wrap
    padding-top: 35px
    padding-bottom: 60px
    label
      color: #E55000
      font:
        size: rem-calc(14)
        weight: 500
      line-height: rem-calc(16.8)
      text-transform: uppercase

  .personal-information-wrap, .personal-subscribe-wrap
    background-color: #fff
    overflow: hidden
    border-radius: 4px
    h4
      color: #36464E
      font:
        size: rem-calc(21)
        weight: 500
      line-height: rem-calc(36)

  .personal-information-wrap
    padding-top: 35px
    padding-bottom: 30px
    margin-bottom: 30px

  .personal-subscribe-wrap
    padding-top: 35px
    padding-bottom: 50px
    p
      color: #36464E
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(21)

.se-delete-account
  display: inline-block
  margin-bottom: 20px
  svg
    height: 24px
    position: relative
    top: 5px
    margin-right: 15px
    path
      fill: #536D79
  input
    background-color: transparent
    color: #536D79
    font:
      size: rem-calc(14)
      weight: 500
    line-height: rem-calc(16.8)
    border: none
    text-transform: uppercase

    margin: 0
    padding: 0
    cursor: pointer
    outline: none !important

.checkbox-input
  .squared
    width: 18px
    height: 18px
    position: relative
    display: inline-block
    float: left
    margin-right: 8px

    input[type=checkbox]
      visibility: hidden

    label
      cursor: pointer
      width: 18px
      height: 18px
      position: absolute
      top: 0
      left: 0
      margin: 0 !important
      padding: 0
      border: 1px solid #939598
      overflow: hidden
      border-radius: 2px
      color: transparent
      &:after
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
        filter: alpha(opacity=0)
        opacity: 0
        content: ''
        position: absolute
        width: 9px
        height: 5px
        background: transparent
        top: 4px
        left: 4px
        border: 3px solid #fcfff4
        border-top: none
        border-right: none

        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)


      &:hover::after
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
        filter: alpha(opacity=30)
        opacity: 0.3

    & input[type=checkbox]:checked + label
      border: none
      background-color: #E55000
    & input[type=checkbox]:checked + label:after
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
      filter: alpha(opacity=100)
      opacity: 1

  label
    color: #EE6B00
    font:
      size: rem-calc(14)
      weight: 400
    line-height: rem-calc(16.8)

