.h-filter-complex-page-wrap
  .h-filter-list
    ul
      list-style: none
      height: 70px
      margin: 0
      li
        float: left
        width: 14%
        height: 70px
        .rating-ico-wrap
          svg
            width: 15px
            height: 15px
            float: left
            //&:first-child
            //  margin-left: 7px
            //&:nth-of-type(4)
            //  clear: left
        a
          span
            font:
              size: rem-calc(12)
              weight: 400
            line-height: rem-calc(14.4)
.complex-page-wrap
  .main-banner-wrap
    height: 550px
    position: relative
    .image
      max-width: 100%
      width: 100%
      height: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
    .complex-banner-information
      position: absolute
      left: 0
      top: 90px
      right: 0
      bottom: 0
      z-index: 1
      h2
        color: #fff
        font:
          size: rem-calc(65)
          weight: 900
  .best-complex
    padding-top: 25px
    padding-bottom: 100px
    h3.a-title
      margin-bottom: 25px
    .c-one-item
      background-color: #fff
      margin-bottom: 0.9375rem+0.9375rem
      position: relative
      height: 162px
      .c-oi-information
        height: 162px
      .c-one-item-more-info
        height: 0px
        position: absolute
        width: 100%
        bottom: 0
        background-color: #fff
        z-index: 1
        overflow: hidden
      &:hover
        z-index: 2
        .c-one-item-more-info
          height: 192px
          bottom: -192px
          -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
          -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
          box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
      .image
        max-width: 100%
        width: 100%
        height: 162px
        //padding-bottom: 100%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
      h3
        color: #36464E
        font:
          size: rem-calc(18)
          weight: 500
        line-height: rem-calc(21.6)
        margin-top: 15px
      .rating-ico-wrap
        svg

      .c-oi-price-wrap
        color: #778F9B
        font:
          size: rem-calc(14)
          weight: 400
        line-height: rem-calc(16.8)
        display: inline-block
        .c-oi-price
          color: #E55000
          font:
            size: rem-calc(24)
          line-height: rem-calc(28.8)
          display: inline-block
          span
            color: inherit
            font:
              size: rem-calc(16)
              weight: 400
            line-height: rem-calc(19.2)
        .c-oi-date
          color: inherit
          display: inline-block


.complex-item-page-wrap
  .complex-item-page
    min-height: 650px
    background-color: #fff
    .complex-item-head
      padding-top: 20px
      .bx-wrapper
        margin: 0
        .bx-controls-direction
          a
            background-position: inherit
            margin-top: 0
            &.bx-prev
              background-image: asset-url("banner-left-arrow.png")
            &.bx-next
              background-image: asset-url("banner-right-arrow.png")
        .bx-viewport
          -moz-box-shadow: none
          -webkit-box-shadow: none
          box-shadow: none
          border: none
          left: 0
        .bx-pager, .bx-controls-auto
          bottom: 20px
        .bx-pager
          &.bx-default-pager
            a
              background: #FB8B00
              width: 14px
              height: 14px
              -moz-border-radius: 50%
              -webkit-border-radius: 50%
              border-radius: 50%
              margin: 0 17px
              -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
              -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
              box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
              &.active
                background: #fff
      ul.image-carousel
        height: 500px
        margin-left: 0
        list-style: none
        li, .image
          height: 100%
      .complex-item-head-title
        height: 80px
        background-color: #36464E
        padding-top: 14px
        h3
          color: #fff
          margin: 0
        h3
          font:
            size: rem-calc(24)
            weight: 500
          line-height: rem-calc(28.8)
        .se-storage-link
          width: 70px
          height: 70px
          background-color: #ef6c00
          border-radius: 50%
          margin-top: -49px
          overflow: hidden !important
          position: relative !important
          a
            display: block
            padding: 16px
            svg
              width: 100%
              height: 100%
              path
                fill: #fff
    .complex-item-body
      padding-top: 73px
      padding-bottom: 105px
      margin-bottom: 55px
      .complex-item-more-information
        ul
          list-style: none
          margin: 0
        .c-info-nav-wrap

          &.fixed
            min-width: 0
            max-width: ($row-width - $column-gutter) / 3
            padding-right: $column-gutter !important
        .c-info-nav
          background-color: #eceff1
          padding: 30px 0
          ul
            margin-bottom: 55px
            li
              line-height: rem-calc(45)
              a
                color: #90a4ae
                font:
                  size: rem-calc(16)
                svg
                  width: 24px
                  height: 24px
                  position: relative
                  top: 5px
                  path, circle
                    fill: #90a4ae
              &.active
                a
                  color: #E65100
                svg
                  path, circle
                    fill: #E65100
            &+a
              color: #e65100
        .c-info
          h3, h4, p, .c-info-key, .c-info-val
            color: #37474F
          h3
            font:
              size: rem-calc(24)
              weight: 500
            line-height: rem-calc(28.8)
            svg
              position: relative
              top: 4px
              width: 28px
              height: 28px
              path, circle
                fill: #37474F
          h4
            font:
              size: rem-calc(16)
              weight: 500
            line-height: rem-calc(19.2)
          p
            font:
              size: rem-calc(14)
              weight: 400
            line-height: rem-calc(24)
          h3 + ul
            list-style: none
            margin: 0
            li
              line-height: 60px
              border-bottom: 1px solid #CFD8DC

          #c-map
            margin-top: 25px
          .c-info-key, .c-info-val
            font:
              family: 'Roboto', sans-serif
              size: rem-calc(14)

          .c-info-key
            font:
              weight: 500
            text:
              transform: uppercase
          .c-info-val
            font:
              weight: 400

.c-gallery-view
  margin-top: 25px
  ul.slides
    height: 420px
    li
      height: 100%
      border: none
      &.flex-active-slide
        cursor: pointer
#c-map
  height: 400px
#aniimated-thumbnials
  a
    display: block
    width: 40px
    height: 40px
    .image
      height: 100%

.c-gallery-thumbnail
  margin-bottom: 95px
  ul.slides
    height: 79px
    li
      height: 100%
      position: relative
      cursor: pointer
      &:before
        display: block
        content: ''
        background-color: black
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        opacity: .4
      &.flex-active-slide
        border: 2px solid #CFD8DC
        &:before
          display: none

.c-price-checked
  background-color: #EF6C00
  display: inline
  padding: 2px 10px
  svg
    height: 100%
    width: 20px
    position: relative
    top: 5px
    path
      fill: #fff
  color: #fff
  font:
    size: rem-calc(12)
    weight: 500
  line-height: rem-calc(20)
  span
    color: #fff