.subscribe-wrap, .contacts-data-wrap
  background-color: #fff
  padding-top: 25px

.contacts-data-wrap
  h4, b, p, a
    color: #36464E
    display: block
  b, p, a
    font:
      size: rem-calc(16)
    line-height: rem-calc(19.2)
  h4
    font:
      size: rem-calc(21)
    line-height: rem-calc(36)
  b
    font:
      weight: 500
  a
    margin-bottom: 10px
  h4, p, a
    font:
      weight: 400
  .address-block-wrap
    position: relative
    border-bottom: 1px solid #EBEEF0
    padding-bottom: 20px
    .ab-ico
      position: absolute
      left: 20px
      top: 17px
      width: 24px
      height: 24px
      svg
        width: 100%
        height: 100%
        path
          fill: #36464E
  .address-block-inner
    padding-left: 60px
    padding-top: 20px

.subscribe-wrap
  padding-bottom: 20px
  h4, p
    color: #36464E
  h4
    font:
      size: rem-calc(21)
      weight: 500
    line-height: rem-calc(36)
    margin-top: 0
    margin-bottom: 3px
  p
    font:
      size: rem-calc(14)
      weight: 400
    line-height: rem-calc(29)
  form
    .input.animate-input
      label
        color: #778F9B
        opacity: 1
      input
        color: #36464E
      &.is-completed
        path
          fill: #36464E
      &.is-active
        label
          color: #FB8B00
        path
          fill: #FB8B00

