// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins"

h1, h2, h3, h4, h5, p, b, span, a, label, input, textarea, body, button
  font-family: 'Roboto', sans-serif
.image
  max-width: 100%
  width: 100%
  //height: 0
  //padding-bottom: 100%
  overflow: hidden
  -webkit-background-size: cover !important
  -moz-background-size: cover !important
  -o-background-size: cover !important
  background-size: cover !important
  margin: 0 auto
.row.full-width
  width: 100%
  max-width: 100%
.input.animate-input
  button
    outline: none!important
body
  background-color: #E1E1E1
  &.stub-body
    background-color: #36464E
    .stub-page
      min-height: 100%
      margin-bottom: -65px
      &:after
        content: ""
        display: block
      #response
        color: #FB8B00
        font:
          size: rem-calc(12)
          family: 'Roboto', sans-serif
      form#mcsubscribe
        padding-bottom: 50px
        .input.animate-input
          input
            border: 0 solid #778F9B
            border-width: 0 0 1px 0
            color: #fff
          button
            position: absolute
            bottom: 0
            right: 0
            background-color: transparent
            padding: 0
            margin: 0
            height: 30px
            width: 40px
            path
              fill: #778F9B
            &:hover
              path
                fill: #FB8B00
          &.is-completed
            input
              border: 0 solid #fff
              border-width: 0 0 1px 0
          &.is-active
            input
              border: 0 solid #FB8B00
              border-width: 0 0 1px 0

    .stub-footer, .stub-page:after
      height: 65px
    .stub-header
      padding-top: 130px
      padding-bottom: 20px
      svg
        width: 80%
        display: block
        margin: 0 auto
    .stub-buildings-title
      padding-top: 50px
    .stub-buildings-list
      padding-top: 10px
      padding-bottom: 40px
    .large-centered
      svg
        height: 100%
        path
          fill: #EBEEF0
    a
      color: #FFF
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(14)
    h3, h5
      color: #EBEEF0
    h3
      font:
        size: rem-calc(24)
        weight: 700
      line-height: rem-calc(28.8)
    h5
      font:
        size: rem-calc(16)
        weight: 700
      line-height: rem-calc(19.2)
    p
      color: #8FA3AD
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(21)
      margin-bottom: 0
    .one-building
      border-radius: 5px
      overflow:  hidden
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 66%
      .ob-label
        background-color: #FFFFFF
        min-height: 50px
        padding: 9px
      b
        color: #36464E
        font:
          size: rem-calc(14)
          weight: 500
        line-height: rem-calc(16)
        display: inline-block
        float: left


    .stub-footer
      ul
        margin-left: 0
        list-style: none
        li
          width: 32%
          display: inline-block
          float: left
          &:first-of-type
            width: 34%
      a
        svg
          width: 16px
          height: 16px
          position: relative
          top: 3px
      p
        color: #FFF
        font-size: 0.875rem
        font-weight: 400
        line-height: 0.875rem
        margin: 20px 0
        svg
          width: 16px
          height: 16px
          position: relative
          top: 3px

  svg.mm-link-close
    display: none
  .mobile-menu-wrap
    position: absolute
    top: 62px
    bottom: 0
    overflow: hidden
    .mobile-menu

  &.mm-opened
    overflow: hidden
    svg.mm-link-open
      display: none
    svg.mm-link-close
      display: block
    .mobile-menu-wrap
      left: 0
      right: 0
      background-color: rgba(0,0,0,.7)
      z-index: 11111111
      .mobile-menu
        float: right
        right: 0
        background-color: #e3e3e3
        height: 100%
        width: 490px


.reveal-modal
  padding: 0
.modal-header, .se-form-header
  color: #fff
  font:
    size: rem-calc(21)
    weight: 500
  background-color: #36464E
  line-height: rem-calc(92)
.modal-body, .se-form-body
  background-color: #fff
  padding-bottom: 35px
  form
    a
      color: #36464E
      font:
        size: rem-calc(14)
        weight: 500
      line-height: rem-calc(16.8)
      text-transform: uppercase
    .animate-input
      input, textarea
        color: #36464E
      &.is-completed
        path
          fill: #36464E
    .ink
      background: #ffdfcd
    .modal-registration-link
      margin-top: 23px
      a
        color: #E55000
    .button-wrap
      background-color: #E55000 !important
      button
        color: #fff !important

.notification-wrap
  position: relative
.notification-container
  position: absolute
  top: 72px
  right: 20px
  background-color: #fff
  min-width: 200px
  min-height: 160px
  z-index: 11
  border: 1px solid #BEC3C7

  display: none
  cursor: default
  &:after
    display: block
    content: ""
    position: absolute
    top: -6px
    right: 7px
    width: 0
    height: 0
    border-style: solid
    border-width: 0 6px 6px 6px
    border-color: transparent transparent #edf0f1 transparent

.notification-form
  .nf-header
    background-color: #EBEEF0
    color: #36464E
    line-height: rem-calc(40)
  .nf-body
    color: #36464E
    font:
      size: rem-calc(14)
      weight: 500
    line-height: rem-calc(16.8)
    a
      svg
        position: relative
        top: 10px

.checkbox-switch
  width: 20px
  height: 8px
  position: relative
  cursor: pointer
  display: inline-block
  margin-left: 6px
  input
    position: absolute
    top: -50px
    left: -100px
    height: 0
    width: 0
    overflow: hidden
    opacity: 0
  label
    width: 100%
    height: 100%
    display: block !important
    margin: 0 !important
  input[type=checkbox] + label
    background-image: asset-url("switch-passive-background.png")
    &:after
      display: block
      content: ''
      position: absolute
      top: -3px
      left: -6px
      bottom: 0
      background-color: #778F9B
      transition: right .2s
      width: 14px
      height: 14px
      border-radius: 50%
  input[type=checkbox]:checked + label
    background-image: asset-url("switch-active-background.png")
    &:after
      display: block
      content: ''
      position: absolute
      top: -3px
      left: 13px
      bottom: 0
      background-color: #E55000


.se-breadcrumbs-wrap
  min-height: 60px
  padding-top: 20px
  color: #536D79
  font:
    size: rem-calc(12)
    weight: 400
    family: 'Roboto', sans-serif
  line-height: rem-calc(14.4)
  a
    color: #EE6B00
    font:
      size: inherit
      weight: inherit
    line-height: inherit
    text-transform: uppercase

#mynano
  height: 2px !important
  div
    background-color: #36464E !important

.se-pagination
  padding-bottom: 45px
  nav
    &.pagination
      text-align: center
    span
      width: 36px
      height: 36px
      border-radius: 50%
      background-color: #E3E3E3
      display: inline-block
      line-height: rem-calc(36)
      a
        color: #778F9B
      &.page
        color: #778F9B
        font:
          size: rem-calc(18)
          weight: 500
        a
          color: inherit
          font:
            size: inherit
            weight: inherit
      &.current
        background-color: #E55000
        color: #fff
      &:hover
        background-color: #AFBDC4
      &.gap
        &:hover
          background-color: #E3E3E3
header
  height: 60px
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,05)
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
  .se-user-avatar
    width: 32px
    +my_vertical_align()

    .image
      padding-bottom: 100%
      border-radius: 50%

  .navigation-wrap
    background-color: #fff
    position: relative
    .nav-logo-wrap, .nav-catalogs, .nav-popup-action-wrap, .nav-wrap
      float: left
    .nav-pages, .nav-popup-action-wrap nav
      float: right
    .nav-popup-action-wrap
      nav
        li
          a
            display: block
            height: 100%
            svg
              width: 32px
              height: 100%
              path
                fill: #36464E
          &.mobile-menu-link
            display: none
          @media screen and ( max-width: 960px)
            display: none
            &.mobile-menu-link
              display: inline-block

    .nav-logo-wrap
      a
        color: #36464E
        font:
          size: rem-calc(20)
          weight: 600
        text-transform: uppercase
        line-height: rem-calc(60)
        padding: 0 20px
    .nav-side
      width: 20%
      height: 60px
    .nav-wrap
      width: 60%
    nav
      list-style: none
      height: 60px
      li
        display: inline-block
        float: left
        height: inherit
        padding: 0 15px
        a
          color: #36464E
          display: inline-block
          line-height: rem-calc(60)
        &.se-call-order
          .notification-container
            min-width: 330px
            //display: block
            .nf-header
              a
                font:
                  size: inherit
                  weight: inherit
                line-height: inherit
                color: inherit
                svg
                  position: relative
                  top: 9px
            .nf-body
              padding-top: 15px
            form
              padding-bottom: 25px
              &.default-animation-form
                .animate-input
                  padding-left: 0
      &.nav-catalogs
        li
          .ink
            background: hsl(21.13, 100%, 90.2%)
          a
            position: relative
            text-transform: uppercase
            svg
              position: relative
              top: 6px
              margin-right: 12px
            path
              fill: #36464E
            .link-text
              display: inherit
              @media (max-width: 1767px)
                display: none
          &.disable-link
            a
              color: #AFBDC4
              path
                fill: #AFBDC4
          &.current
            a
              color: #E55000
              &:before
                display: block
                position: absolute
                content: ''
                background-color: #E55000
                left: 0
                bottom: 0
                right: 0
                height: 3px
              path
                fill: #E55000
      &.nav-pages
        @media screen and ( max-width: 960px)
          display: none
        li
          a
            font:
              size: rem-calc(12)
              weight: 400



.h-filter-wrap
  height: 105px
  background-color: #36464E
  .h-filter-list
    height: 70px
    position: relative
    overflow: hidden
    a
      color: #FB8B00
      font:
        weight: 500
        size: rem-calc(40)
      line-height: 4.9rem
      display: inline-block
      span
        font-weight: 300
      sup
        font:
          size: rem-calc(12)
          weight: 400
        line-height: rem-calc(14.4)
        position: relative
        top: -7px
        margin-left: 10px
      &:hover
        color: #fff
    .a-nav-search-button
      position: absolute
      top: 0
      right: 20px
      a
        svg
          width: 34px
          height: 100%
          position: relative
          top: 3px
          right: -6px
          path
            fill: #778F9B
  .h-sub-filter-list
    height: 35px
    background-color: rgba(0, 0, 0, .1)
    .h-sf-cities
      position: relative
      strong, a
        color: #fff
        font:
          size: rem-calc(12)
          weight: 400
      strong
        line-height: rem-calc(35)
        display: inline-block
      ul
        display: inline-block
        margin-left: 0
        position: absolute
        width: 120px
        list-style: none
        z-index: 111
        margin-top: 8px
        margin-left: 10px
        height: 20px
        overflow: hidden
        li
          a
            display: block
        &:hover
          height: auto
  .hsf
    float: left

footer
  background-color: #36464E
  min-height: 450px
  .footer-nav
    background-color: rgba(0, 0, 0, .1)
    margin-bottom: 40px
    a
      color: #536D79
      font:
        size: rem-calc(14)
        weight: 500
      line-height: rem-calc(16.8)
      text-transform: uppercase
      display: inline-block
      height: 60px
      line-height: rem-calc(60)
      span
        @media screen and ( max-width: 840px)
          display: none
      svg
        position: relative
        top: 6px
        margin-right: 10px
        path
          fill: #536D79
      &.current
        color: #FB8B00
        path
          fill: #FB8B00
  form
    margin-bottom: 25px
    .input.animate-input
      button
        width: 26px
        height: 26px
        padding: 0
        position: absolute
        bottom: 2px
        right: 0
        margin: 0
        background-color: transparent
        cursor: pointer
        path
          fill: #778F9B
      &.is-active
        path
          fill: #FB8B00
  h4
    color: #FFF
    font:
      size: rem-calc(21)
      weight: 500
    line-height: rem-calc(36)
  p
    color: #AFBDC4
    font:
      size: rem-calc(12)
      weight: 400
    line-height: rem-calc(21)
  .footer-down
    border-top: 1px solid rgba(0, 0, 0, .1)
    p
      margin-bottom: 0
    .fd-one-wrap
      position: relative
      height: 60px
      .fd-one-inner
        width: 100%
        +my_vertical_align()
          position: absolute
    .nav-pages
      li
        padding-left: 12px
        a
          color: #AFBDC4
          font:
            size: rem-calc(12)
            weight: 400


ul.se-socials
  list-style: none
  margin-left: 0
  margin-top: 15px
  li
    display: inline-block
    margin-right: 15px

address
  p, a
    color: #AFBDC4
    font:
      size: rem-calc(16)
      weight: 400
      style: normal
    line-height: rem-calc(19.2)
  p
    svg
      width: 20px
      height: 20px
      position: relative
      top: 6px
      margin-right: 8px
      path
        fill: #AFBDC4

h3.a-title
  font:
    size: rem-calc(24)
    weight: 400
  line-height: rem-calc(28.8)
  color: #36464E
  svg
    position: relative
    top: 4px
    margin-right: 20px
  path
    fill: #36464E
.feedback-wrap
  padding-top: 45px
  padding-bottom: 75px
  background-color: #fff
  h3.a-title
    svg
      width: 24px
      height: 24px
      path
        fill: #36464E
  h2
    color: #36464E
    font:
      size: rem-calc(36)
      weight: 500
    line-height: rem-calc(36)
    margin-top: 30px
    margin-bottom: 20px
  p
    color: #36464E
    font:
      size: rem-calc(14)
      weight: 400

  address
    padding-top: 20px
    p, a
      color: #4C4C4C
    p
      svg
        path
          fill: #4C4C4C
  form
    background-color: #36464E
    padding-bottom: 35px
    overflow: hidden
    border-radius: 4px
    margin-top: 25px
    padding-top: 20px


form
  button
    outline: none !important
  &.default-animation-form
    .animate-input
      padding-left: 58px
      margin-bottom: 16px
      .input-ico
        width: 32px
        height: 32px
        position: absolute
        bottom: -8px
        left: 0
        svg
          width: 100%
        path
          fill: #778F9B
      &.is-completed
        path
          fill: #fff
      &.is-active
        path
          fill: #FB8B00
      &.animate-textarea
        .input-ico
          bottom: inherit
          top: 41px
          left: 0
    .button-wrap
      background-color: #fff
      margin-top: 23px
      button
        background-color: transparent
        color: #E55000
        text-transform: uppercase
        margin: 0
        padding: 11px 35px

.apartment-page-wrap
  .main-banner-wrap
    height: 550px
    position: relative
    .image
      max-width: 100%
      width: 100%
      height: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
    .mb-apartment-form
      position: absolute
      top: 80px
      left: 0
      right: 0

.apartment-form-wrap
  overflow: hidden
  border-radius: 4px
  form
    .af-header
      background-color: #E55000
      height: 105px
      padding-top: 20px
      .af-search-input
        position: relative
        margin-bottom: 10px
        label
          color: #FFF
          font:
            size: rem-calc(12)
            weight: 400
          line-height: rem-calc(14.4)
        input
          background-color: transparent
          border: 0
          border-bottom: 2px solid #FB8B00
          height: 26px
          box-shadow: none!important
          outline: none!important
          margin-top: 5px
          +placeholder(#FB8B00, 18px, normal)
            font:
              weight: 500
          margin: 0
          padding: 0
          line-height: rem-calc(26)
        button
          width: 26px
          height: 26px
          padding: 0
          position: absolute
          bottom: 2px
          right: 0
          margin: 0
          background-color: transparent
          background-image: asset-url("ic_search_24px.svg")
          background-size: 90%
          background-repeat: no-repeat
          cursor: pointer
      strong, a
        font:
          size: rem-calc(12)
        line-height: rem-calc(14.4)
        display: inline-block
        float: left
      strong
        color: #FB8B00
        font:
          weight: 400
      a
        color: #FFF
        font:
          weight: 300
        margin-left: 12px

    .af-body
      background-color: #fff
      padding-bottom: 25px
      label
        color: #E55000
        display: inline-block
        width: 90px
      select
        width: calc(100% - 90px)
        border-bottom: 1px solid #BCBCBC !important
      .button-wrap
        background-color: #E55000
      button
        background-color: transparent
        background-image: asset-url('ic_search_24px_white.svg')
        padding: 11px 35px 11px 53px
        background-repeat: no-repeat
        background-position-y: 50%
        background-position-x: 12%
        margin: 0
        text-transform: uppercase


.best-apartment
  background-color: #E3E3E3
  padding-top: 25px
  h3
    //color: #36464E
    //font:
    //  size: rem-calc(24)
    //  weight: 400
    //line-height: rem-calc(28)
    margin-bottom: 25px
    path
      //fill: #36464E
  .bx-wrapper
    margin: 0
    .bx-viewport
      background-color: transparent
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      border: none
      left: 0
    .bx-controls-direction
      a
        background-position: inherit
        margin-top: -29px
        &.bx-prev
          background-image: asset-url("banner-left-arrow.png")
          left: -30px
        &.bx-next
          background-image: asset-url("banner-right-arrow.png")
          right: -30px
    .bx-pager
      &.bx-default-pager
        a
          background: #AFBDC4
          width: 14px
          height: 14px
          margin: 0 17px
          -moz-border-radius: 50%
          -webkit-border-radius: 50%
          border-radius: 50%
          &.active
            background-color: #36464E
  ul.ba-carousel
    margin-left: 0


.se-box-shadow
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
.a-one-item
  background-color: #fff
  margin-bottom: 30px
  overflow: hidden
  border-radius: 5px

  .a-oi-avatar
    margin: 13px 0
    margin-bottom: -40px
    .image
      padding-bottom: 66%
  .a-oi-information-wrap, ul.a-oi-actions
    -moz-transform: translateY(40px) /* Для Firefox */
    -ms-transform: translateY(40px) /* Для IE */
    -webkit-transform: translateY(40px) /* Для Safari, Chrome, iOS */
    -o-transform: translateY(40px) /* Для Opera */
    transform: translateY(40px)

  .a-oi-information-wrap
    background-color: #fff
    .a-oi-information
      padding-top: 10px
      b
        color: #36464E
        font:
          size: rem-calc(18)
          weight: 500
        line-height: rem-calc(21.6)
      p
        color: #AFBDC4
        font:
          size: rem-calc(14)
          weight: 400
        line-height: rem-calc(16.8)
        margin-bottom: 1rem
      hr
        border-color: #AFBDC4
        margin-top: 0
      .a-oi-info-ico
        svg
          margin: 0 auto
          display: inherit
          path
            fill: #778F9B
      .a-oi-info-label
        color: #778F9B
        font:
          size: rem-calc(12)
          weight: 400
          family: 'Roboto', sans-serif
        line-height: rem-calc(24)
        white-space: nowrap
        span
          color: #AFBDC4
          padding-left: 2px
      .a-oi-info-value
        color: #E55000
        font:
          size: rem-calc(24)
          weight: 500
          family: 'Roboto', sans-serif
        line-height: rem-calc(28.8)
        display: inherit
        white-space: nowrap
        text-align: center
  ul.a-oi-actions
    margin: 0
    background-color: #E55000
    list-style: none
    height: 40px
    margin-top: 22px
    li
      width: 33.33%
      height: inherit
      float: left
      a
        display: block
        height: inherit
        svg
          height: 100%
          padding: 8px 0px
          width: 100%
          position: relative
          top: -1px
          path
            fill: #fff
      &.comparison-ico
        svg
          padding: 4px 0
      &.call-ico
        svg
          padding: 6px 0
  &:hover
    .a-oi-information-wrap, ul.a-oi-actions
      -moz-transform: translateY(0) /* Для Firefox */
      -ms-transform: translateY(0) /* Для IE */
      -webkit-transform: translateY(0) /* Для Safari, Chrome, iOS */
      -o-transform: translateY(0) /* Для Opera */
      transform: translateY(0)

#map_canvas
  height: 300px

.apartment-complexes
  padding-top: 25px
  h3.a-title
    margin-bottom: 25px
  .ac-one
    height: 445px
    margin: 1px
    position: relative
    .image
      height: 100%
    .ac-information
      min-height: 70px
      background-color: rgba(0, 0, 0, .7)
      position: absolute
      left: 0
      right: 0
      bottom: 0
      //padding-bottom: 8px
      h3, p
        color: #fff
      h3
        font:
          size: rem-calc(24)
          weight: 500
        line-height: rem-calc(28.8)
        margin-bottom: 2px
      p
        font:
          size: rem-calc(14)
          weight: 400
        line-height: rem-calc(21)
      .rating-ico-wrap
        float: right
        margin-top: 6px
        svg
          width: 20px
          height: 20px
      .aci-header
        padding-top: 8px
        padding-bottom: 16px
        .rating-ico-wrap
          svg



        p, a
          display: inline-block
          margin-bottom: 0
        p
          padding-left: 10px
        a.se-region
          color: #AFBDC4
          background-color: #445963
          font:
            size: rem-calc(12)
          padding: 1px 10px
      .aci-body
        overflow: hidden
        max-height: 0
        +transition(max-height, .5s, ease)
        hr
          margin-top: 0
    &:hover
      .aci-body
        max-height: 200px
      .aci-header
        a.se-region
          color: #FFB64C
          background-color: #E65100
.se-read-more
  a
    color: #FFA625
    text-transform: uppercase
    font:
      size: rem-calc(14)
      weight: 500
    padding: 12px 28px
    display: inline-block
    position: relative
.se-external-link
  a
    color: #AFBDC4
    text-transform: uppercase
    font:
      size: rem-calc(14)
      weight: 500
    padding: 11px 28px
    display: inline-block
    position: relative
    svg
      width: 26px
      height: 26px
      position: relative
      top: 6px
    path
      fill: #AFBDC4

.calculators-wrap
  .calculator-one
    height: 300px
    .a-calculator-avatar
      height: 300px
      width: 100%
      position: relative
      img
        position: absolute
        bottom: 0
        max-height: 100%
    .ink
      background: hsl(21.13, 100%, 90.2%)
    &.co-credit
      background-color: #36464E
      margin-right: 1px
    &.co-insurance
      background-color: #E55000
      margin-left: 1px
    h3, p
      color: #fff
    h3
      font:
        size: rem-calc(24)
        weight: 500
      line-height: rem-calc(24)
      margin-top: 50px
    p
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(29)

.se-link-button
  background-color: #fff
  overflow: hidden
  border-radius: 4px
  a
    color: #E55000
    font:
      size: rem-calc(14)
      weight: 500
    text-transform: uppercase
    padding: 12px 28px
    display: inline-block
    position: relative


form
  .input
    label
      color: #AFBDC4
      font:
        size: rem-calc(14)
      line-height: rem-calc(30)
    &:not(.animate-input)
      label
        opacity: .5
    input, textarea
      font:
        size: rem-calc(16)
        weight: 400
      color: #fff
      background: transparent !important
    &.animate-input
      position: relative
      label
        display: block
        transform: translateY(25px)
        transition: all 0.5s

        color: #AFBDC4
        font:
          size: rem-calc(14)
        line-height: rem-calc(20)
        opacity: .5

      input
        height: 30px
      input, textarea
        position: relative
        width: 100%
        border: 0 solid #AFBDC4
        border-width: 0 0 1px 0
        box-shadow: none
        outline: none
        margin: 0


      &.is-active
        &::after
          transform: scaleX(1)
        label
          opacity: 1
          color: #FB8B00
          font:
            size: rem-calc(12)
        input, textarea
          border-bottom: 2px solid #FB8B00

      &.is-completed
        label
          font-size: rem-calc(12)
          transform: translateY(0px)


.se-range-input
  height: 60px
  padding-top: 15px
  .rs-input, .rs-slider
    float: left
  .rs-input
    width: 22%
    input
      margin-bottom: 0
      margin-top: 13px
  .rs-slider
    width: 56%
    padding: 0 5%
  .ui-slider-horizontal
    .ui-slider-handle
      margin-left: 0

  label
    font:
      size: rem-calc(12)
      weight: 400
    line-height: rem-calc(24)
    span
      color: #BCBCBC
      padding-left: 4px
  input
    color: #606060
    height: 40px
    width: 100%
    font:
      size: rem-calc(14)
      weight: 500
    text:
      align: center
    line-height: rem-calc(24)
    border: none
    border-bottom: 1px solid #BCBCBC
    background: transparent
    outline: none !important
    box-shadow: none !important
  .ui-slider
    background: #BCBCBC
    height: 3px
    border: none
    border-radius: 0
    margin-top: 10px
    position: relative
    //&:before, &:after
    //  display: block
    //  position: absolute
    //  bottom: -25px
    //  color: #BEC3C7
    //  font:
    //    size: .75rem
    //    weight: 300
    //  line-height: rem-calc(16.8)
    //&:before
    //  content: attr(data-min-val)
    //  left: 0
    //&:after
    //  content: attr(data-max-val)
    //  right: 0
    .ui-slider-range
      background: #E55000
      border: none !important

    .ui-slider-handle
      width: 5px
      height: 15px
      top: -6px
      background-color: transparent
      padding: 0
      border: none
      border-radius: 0
      outline: none
      box-shadow: none
      &:first-of-type
        background-image: asset-url("range-slider-arrow-left.svg")
        background-size: 100%
        background-repeat: no-repeat
        //&:before
          display: block
          content: ''
          position: absolute
          top: -7px
          left: 0
          width: 0
          height: 0
          border-style: solid
          border-width: 0 0 7px 7px
          border-color: transparent transparent #E55000 transparent
      &:last-of-type
        background-image: asset-url("range-slider-arrow-right.svg")
        background-size: 100%
        background-repeat: no-repeat
        //&:before
          display: block
          content: ''
          position: absolute
          top: -7px
          left: 0
          width: 0
          height: 0
          border-style: solid
          border-width: 7px 0 0 7px
          border-color: transparent transparent transparent #E55000

#CallOrderFormModal
  form
    &.default-animation-form
      .animate-input
        padding-left: 0


.se-registration-wrap
  padding-bottom: 90px
  p
    color: #536D79
    font:
      size: rem-calc(12)
      weight: 400
    line-height: rem-calc(16)
    margin-top: 15px
    a
      color: #E55000
      padding-left: 3px

.rating-ico-wrap
  svg
    width: 20px
    height: 20px
    path
      fill: #8FA3AD
  &.se-ri-economy
    svg:first-child
      path
        fill: #FFFF00
  &.se-ri-standard
    svg:nth-of-type(-n+2)
      path
        fill: #FFFF00
  &.se-ri-comfort
    svg:nth-of-type(-n+3)
      path
        fill: #FFFF00
  &.se-ri-business
    svg:nth-of-type(-n+4)
      path
        fill: #FFFF00
  &.se-ri-elite
    svg:nth-of-type(-n+5)
      path
        fill: #FFFF00
  &.se-ri-club
    svg:nth-of-type(-n+6)
      path
        fill: #FFFF00
  &.se-ri-deluxe
    svg:nth-of-type(-n+7)
      path
        fill: #FFFF00
  &.se-ri-light
    &.se-ri-economy
      svg:first-child
        path
          fill: #EE6B00
    &.se-ri-standard
      svg:nth-of-type(-n+2)
        path
          fill: #EE6B00
    &.se-ri-comfort
      svg:nth-of-type(-n+3)
        path
          fill: #EE6B00
    &.se-ri-business
      svg:nth-of-type(-n+4)
        path
          fill: #EE6B00
    &.se-ri-elite
      svg:nth-of-type(-n+5)
        path
          fill: #EE6B00
    &.se-ri-club
      svg:nth-of-type(-n+6)
        path
          fill: #EE6B00
    &.se-ri-deluxe
      svg:nth-of-type(-n+7)
        path
          fill: #EE6B00


#sh_button
  background-color: #778F9B
  .sh_logo_img
    display: none
  &:before
    content: ''
    display: block
    width: 24px
    height: 24px
    background-image: asset-url("ic_feedback_48px.svg")
    background-size: 100%
    margin: 6px
  .sh_title_text
    .sh_btn_char
      //font:
      //  size: rem-calc(14)
      //  weight: 500
      //line-height: rem-calc(16.8)