// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins"

h1, h2, h3, h4, h5, p, b, span, a, label, input, textarea
  font-family: 'Roboto', sans-serif
.image
  max-width: 100%
  width: 100%
  //height: 0
  //padding-bottom: 100%
  overflow: hidden
  -webkit-background-size: cover !important
  -moz-background-size: cover !important
  -o-background-size: cover !important
  background-size: cover !important
  margin: 0 auto
.row.full-width
  width: 100%
  max-width: 100%
body
  &.stub-body
    background-color: #36464E
    .stub-page
      min-height: 100%
      margin-bottom: -65px
      &:after
        content: ""
        display: block
    .stub-footer, .stub-page:after
      height: 65px
    .stub-header
      padding-top: 130px
      padding-bottom: 20px
      svg
        width: 80%
        display: block
        margin: 0 auto
    .stub-buildings-title
      padding-top: 50px
    .stub-buildings-list
      padding-top: 10px
      padding-bottom: 40px
    .large-centered
      svg
        height: 100%
        path
          fill: #EBEEF0
    a
      color: #FFF
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(14)
    h3, h5
      color: #EBEEF0
    h3
      font:
        size: rem-calc(24)
        weight: 700
      line-height: rem-calc(28.8)
    h5
      font:
        size: rem-calc(16)
        weight: 700
      line-height: rem-calc(19.2)
    p
      color: #8FA3AD
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(21)
      margin-bottom: 0
    .one-building
      border-radius: 5px
      overflow:  hidden
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 66%
      .ob-label
        background-color: #FFFFFF
        min-height: 50px
        padding: 9px
      b
        color: #36464E
        font:
          size: rem-calc(14)
          weight: 500
        line-height: rem-calc(16)
        display: inline-block
        float: left


    .stub-footer
      ul
        margin-left: 0
        list-style: none
        li
          width: 32%
          display: inline-block
          float: left
          &:first-of-type
            width: 34%
      a
        svg
          width: 16px
          height: 16px
          position: relative
          top: 3px

header
  //overflow: hidden
  height: 200px
  .navigation-wrap
    background-color: #fff
    position: relative
    .nav-logo-wrap, .nav-catalogs, .nav-popup-action-wrap, .nav-wrap
      float: left
    .nav-pages, .nav-popup-action-wrap nav
      float: right
    .nav-popup-action-wrap
      nav
        li
          a
            svg
              width: 32px
              height: 100%
              margin-top: 10px
              path
                fill: #36464E
    .nav-logo-wrap
      a
        color: #36464E
        font:
          size: rem-calc(20)
          weight: 600
        text-transform: uppercase
        line-height: rem-calc(60)
        padding: 0 20px
    .nav-side
      width: 20%
      height: 60px
    .nav-wrap
      width: 60%
    nav
      list-style: none
      height: 60px
      li
        display: inline-block
        float: left
        height: inherit
        padding: 0 15px
        a
          color: #36464E
          display: inline-block
          line-height: rem-calc(60)
      &.nav-catalogs
        li
          .ink
            background: hsl(21.13, 100%, 90.2%)
          a
            position: relative
            svg
              position: relative
              top: 6px
              margin-right: 12px
            path
              fill: #36464E
          &.disable-link
            a
              color: #AFBDC4
              path
                fill: #AFBDC4
          &.current
            a
              color: #E55000
              &:before
                display: block
                position: absolute
                content: ''
                background-color: #E55000
                left: 0
                bottom: 0
                right: 0
                height: 3px
              path
                fill: #E55000
      &.nav-pages
        li
          a
            font:
              size: rem-calc(12)
              weight: 400



  .h-filter-wrap
    height: 140px
    background-color: #36464E
    .h-filter-list
      height: 105px
      position: relative
      a
        color: #FB8B00
        font:
          weight: 500
          size: rem-calc(40)
        line-height: rem-calc(105)
        display: inline-block
        sup
          font:
            size: rem-calc(12)
            weight: 400
          line-height: rem-calc(14.4)
          position: relative
          top: -7px
          margin-left: 10px
        &:hover
          color: #fff
      .a-nav-search-button
        position: absolute
        top: 0
        right: 20px
        a
          svg
            width: 34px
            height: 100%
            position: relative
            top: 10px
            path
              fill: #778F9B
    .h-sub-filter-list
      height: 35px
      background-color: rgba(0, 0, 0, .1)
      .h-sf-cities
        position: relative
        strong, a
          color: #fff
          font:
            size: rem-calc(12)
            weight: 400
        strong
          line-height: rem-calc(35)
          display: inline-block
        ul
          display: inline-block
          margin-left: 0
          position: absolute
          width: 120px
          list-style: none
          z-index: 111
          margin-top: 8px
          margin-left: 10px
          height: 20px
          overflow: hidden
          li
            a
              display: block
          &:hover
            height: auto
    .hsf
      float: left

footer
  background-color: #36464E
  min-height: 450px
  .footer-nav
    background-color: rgba(0, 0, 0, .1)
    a
      color: #536D79
      font:
        size: rem-calc(14)
        weight: 500
      line-height: rem-calc(16.8)
      text-transform: uppercase
      display: inline-block
      height: 60px
      line-height: rem-calc(60)
      span
        @media screen and ( max-width: 840px)
          display: none
      svg
        position: relative
        top: 6px
        margin-right: 10px
        path
          fill: #536D79
      &.current
        color: #FB8B00
        path
          fill: #FB8B00
  form
    margin-bottom: 25px
  h4
    color: #FFF
    font:
      size: rem-calc(21)
      weight: 500
    line-height: rem-calc(36)
  p
    color: #AFBDC4
    font:
      size: rem-calc(14)
      weight: 400
    line-height: rem-calc(21)


address
  p, a
    color: #AFBDC4
    font:
      size: rem-calc(16)
      weight: 400
      style: normal
    line-height: rem-calc(19.2)
  p
    svg
      width: 20px
      height: 20px
      position: relative
      top: 6px
      margin-right: 8px
      path
        fill: #AFBDC4

.feedback-wrap
  address
    p, a
      color: #4C4C4C
    p
      svg
        path
          fill: #4C4C4C
  form
    background-color: #36464E

.apartment-page-wrap
  .main-banner-wrap
    height: 550px
    position: relative
    .image
      max-width: 100%
      width: 100%
      height: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
    .mb-apartment-form
      position: absolute
      top: 80px
      left: 0
      right: 0

.apartment-form-wrap
  overflow: hidden
  border-radius: 4px
  form
    .af-header
      background-color: #E55000
      height: 105px
      padding-top: 20px
      .af-search-input
        position: relative
        margin-bottom: 10px
        label
          color: #FFF
          font:
            size: rem-calc(12)
            weight: 400
          line-height: rem-calc(14.4)
        input
          background-color: transparent
          border: 0
          border-bottom: 2px solid #FB8B00
          height: 26px
          box-shadow: none!important
          outline: none!important
          +placeholder(#FB8B00, 18px, normal)
            font:
              weight: 500
          margin: 0
          padding: 0
          line-height: rem-calc(26)
        button
          width: 26px
          height: 26px
          padding: 0
          position: absolute
          bottom: 2px
          right: 0
          margin: 0
          background-color: transparent
          background-image: asset-url("ic_search_24px.svg")
          background-size: 100%
          background-repeat: no-repeat
          cursor: pointer
      strong, a
        font:
          size: rem-calc(12)
        line-height: rem-calc(14.4)
        display: inline-block
        float: left
      strong
        color: #FB8B00
        font:
          weight: 400
      a
        color: #FFF
        font:
          weight: 300
        margin-left: 12px

    .af-body
      background-color: #fff
      label
        color: #E55000
        display: inline-block
        width: 90px
      select
        width: calc(100% - 90px)
        border-bottom: 1px solid #BCBCBC !important
      button
        background-color: #E55000

.best-apartment
  background-color: #E3E3E3
  h3
    color: #36464E
    font:
      size: rem-calc(24)
      weight: 400
    line-height: rem-calc(28)
    path
      fill: #36464E

.se-box-shadow
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
.a-one-item
  background-color: #fff
  margin-bottom: 30px
  overflow: hidden
  border-radius: 5px

  .a-oi-avatar
    margin: 9px 0
    margin-bottom: -40px
    .image
      padding-bottom: 66%
  .a-oi-information-wrap, ul.a-oi-actions
    -moz-transform: translateY(40px) /* Для Firefox */
    -ms-transform: translateY(40px) /* Для IE */
    -webkit-transform: translateY(40px) /* Для Safari, Chrome, iOS */
    -o-transform: translateY(40px) /* Для Opera */
    transform: translateY(40px)

  .a-oi-information-wrap
    background-color: #fff
    .a-oi-information
      b
        color: #36464E
        font:
          size: rem-calc(18)
          weight: 500
        line-height: rem-calc(21.6)
      p
        color: #AFBDC4
        font:
          size: rem-calc(14)
          weight: 400
        line-height: rem-calc(16.8)
      hr
        border-color: #AFBDC4
      .a-oi-info-ico
        svg
          margin: 0 auto
          display: inherit
          path
            fill: #778F9B
      .a-oi-info-label
        color: #778F9B
        font:
          size: rem-calc(12)
          weight: 400
          family: 'Roboto', sans-serif
        line-height: rem-calc(24)
        white-space: nowrap
        span
          color: #AFBDC4
      .a-oi-info-value
        color: #E55000
        font:
          size: rem-calc(24)
          weight: 500
          family: 'Roboto', sans-serif
        line-height: rem-calc(28.8)
        display: inherit
        white-space: nowrap
        text-align: center
  ul.a-oi-actions
    margin: 0
    background-color: #E55000
    list-style: none
    height: 40px
    margin-top: 22px
    li
      width: 33.33%
      height: inherit
      float: left
      a
        display: block
        height: inherit
        svg
          height: 100%
          padding: 8px 0px
          width: 100%
          path
            fill: #fff
  &:hover
    .a-oi-information-wrap, ul.a-oi-actions
      -moz-transform: translateY(0) /* Для Firefox */
      -ms-transform: translateY(0) /* Для IE */
      -webkit-transform: translateY(0) /* Для Safari, Chrome, iOS */
      -o-transform: translateY(0) /* Для Opera */
      transform: translateY(0)
.apartment-complexes
  .ac-one
    height: 445px
    margin: 1px
    position: relative
    .image
      height: 100%
    .ac-information
      min-height: 70px
      background-color: rgba(0, 0, 0, .7)
      position: absolute
      left: 0
      right: 0
      bottom: 0
      padding-bottom: 8px
      h3, p
        color: #fff
      h3
        font:
          size: rem-calc(24)
          weight: 500
        line-height: rem-calc(28.8)
      p
        font:
          size: rem-calc(14)
          weight: 400
        line-height: rem-calc(21)
      .rating-ico-wrap
        float: right
      .aci-header
        padding-top: 8px
        padding-bottom: 8px
        path
          fill: #FFFF00
        p, a
          display: inline-block
          margin-bottom: 0
        p
          padding-left: 10px
        a.se-region
          color: #FFB64C
          background-color: #E65100
          font:
            size: rem-calc(12)
          padding: 5px 10px
      .aci-body
        overflow: hidden
        max-height: 0
        +transition(max-height, .5s, ease)
    &:hover
      .aci-body
        max-height: 200px
.se-read-more
  a
    color: #FFA625
    text-transform: uppercase
    font:
      size: rem-calc(14)
      weight: 500
    padding: 12px 28px
    display: inline-block
    position: relative
.se-external-link
  a
    color: #AFBDC4
    text-transform: uppercase
    font:
      size: rem-calc(14)
      weight: 500
    padding: 12px 28px
    display: inline-block
    position: relative
    svg
      width: 26px
      height: 26px
      position: relative
      top: 6px
    path
      fill: #AFBDC4

.calculators-wrap
  .calculator-one
    height: 300px
    .ink
      background: hsl(21.13, 100%, 90.2%)
    &.co-credit
      background-color: #36464E
      margin-right: 1px
    &.co-insurance
      background-color: #E55000
      margin-left: 1px
    h3, p
      color: #fff
    h3
      font:
        size: rem-calc(24)
        weight: 500
      line-height: rem-calc(24)
      margin-top: 50px
    p
      font:
        size: rem-calc(14)
        weight: 400
      line-height: rem-calc(29)

.se-link-button
  background-color: #fff
  overflow: hidden
  border-radius: 4px
  a
    color: #E55000
    font:
      size: rem-calc(14)
      weight: 500
    text-transform: uppercase
    padding: 12px 28px
    display: inline-block
    position: relative


form
  .input
    label
      color: #AFBDC4
      font:
        size: rem-calc(14)
      line-height: rem-calc(30)
    &:not(.animate-input)
      label
        opacity: .5
    input, textarea
      font:
        size: rem-calc(16)
        weight: 400
      color: #fff
      background: transparent !important
    &.animate-input
      position: relative
      label
        display: block
        transform: translateY(35px)
        transition: all 0.5s

        color: #AFBDC4
        font:
          size: rem-calc(14)
        line-height: rem-calc(35)
        opacity: .5

      input
        position: relative
        width: 100%
        height: 30px
        border: 0 solid #AFBDC4
        border-width: 0 0 1px 0
        box-shadow: none
        outline: none
        margin: 0

      &.is-active
        &::after
          transform: scaleX(1)
        label
          opacity: 1
          color: #FB8B00
          font:
            size: rem-calc(12)
        input
          border-bottom: 2px solid #FB8B00

      &.is-completed
        label
          font-size: rem-calc(12)
          transform: translateY(0)